# Data Science Tools and Ecosystem

In this notebook, Dara Science Tools and Ecosystem are summarized

**Objectives:**
- List popular changes for Data Science
- List commonly libraries used by Data Scientists
- List some development environment open source for Data Science
- Create some code cells in a Jupyter notebook

Some of the popular languages that Data Scientis use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. MatplotLib
3. NumPy

|Data Science Tools|
|------------------|
| Jupyter|
| Apache Zeppelin |
| RStudio |

Below are a few examples of evaluating arithmetic expession in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Rodolfo Rosa